body, html{
    background-color: black;
    height: 100%;
    width: 100%;
}

#below{
    position: relative;

    margin-left: 4.5%;
    
    width: 100%;
    
    overflow: visible;

}

#landing{
    height: 100%;
    width: 100%;
    position: relative;
}

.x{
    

}

.mediaContainer{
    
    padding-left: 30%;
    padding-top: 7%; 
}

.sMedia{
    height: 25%;
    width: 25%;
    
    
}

.grid-item--sizeOne{

    height: auto;
    width: 30%;

}

.grid-item--sizeTwo{
   
    width: 45%;

}

.bio_panel{
    float: right;
    background-color: aqua;

}

.vid{

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    
}
.logo{
   
  
    position: absolute;
    height: 100%;
    width: 100%;
    animation: fadeinout 4s linear forwards;
    background-color: black
}

@keyframes fadeinout {
    100% { opacity: 0; }
    50% { opacity: 1; }
}

#logoImg{


}